*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-main: #E0FBE2;
    --bg-card: #9ed8bb;
    --front-card:#22665d ;
    --border-color: #7eee86;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    background-color: var(--bg-main);
}
#card-section{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 0.6rem;
}
h1{
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
span{
    color: var(--front-card);
}

.card{
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
}
.card, .back-card, .front-card{
    height: 10rem;
    width: 10rem;
}
.back-card, .front-card{
    position: absolute;
    backface-visibility: hidden;
}

.front-card{
    background: var(--front-card);
    background-size: contain;
    border-radius: .6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}
.back-card{
    transform: rotateY(180deg);
    /* background-color: var(--front-card); */
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}

.card_selected{
    transform: rotateY(180deg);
}
.card_match  .front-card{
    background-color: var(--bg-card);
}

#reset-btn{
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 0.6rem;
    background-color: var(--front-card);
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0px;
    cursor: pointer;
}
#game-info{
    font-size: 30px;
    color: var(--front-card);
    font-weight: 600;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--front-card);
    color: white;
    padding: 100px;
    border-radius: .2rem;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 50px;
}

.popup h2 {
    margin: 0 0 20px;
}

.popup button {
    padding: 10px 20px;
    font-size: 30px;

}